.footer-player{
    background-color: var(--mainButtonBorder);
}


.footer-artist-song{
    color: var(--whiteText);
    font-weight: 700;
    font-size: 14px;
}

.footer-artist{
    color: var(--whiteText);
    font-weight: 400;
    font-size: 12px;
}

.footer-player-ellipse{
    background-color: var(--footerEllipse);
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: var(--whiteText);
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--whiteText);
    margin-top: -5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--whiteText);
}