@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --asideBack:#662323;
    --asideSelectText: #E86060;

    --searchBorder:#828282;
    --searchText:#BDBDBD;
    --searchUserText:#4F4F4F;

    --mainFollowersText:#662323;
    --mainButtonBorder:#EB5757;
    --mainResultTitle:#555555;
    --mainResultArtist:#828282;

    --footerEllipse:#FF7676;
    ;

    --whiteText: #FFFFFF;


}
body{
    font-family: 'Quicksand', sans-serif;
}